@import "../../Styles/Variables/colors";

#formLogin {
  width: 35%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: 15vh;
  padding: 10px 20px;

  background: #f3f1ed;
  border-radius: 10px;
  border: 0.2px solid $color-grey-1;
  //box-shadow: 0px 2px 4px $shadow-black-1;

  h2 {
    width: 100%;

    margin: 0;

    text-align: center;
    font-weight: 700;
    color: $color-grey-4;
  }

  .loginGroup {
    width: 100%;

    display: flex;
    flex-wrap: wrap;

    margin-top: 20px;

    input {
      width: 100%;
      height: 30px;

      padding-left: 5px;

      border-radius: 5px;
      border:none;
      box-shadow: 0px 1px 5px -2px rgba(0,0,0,0.42);
    }

    label {
      padding: 0;
      margin: 0;
      margin-bottom: 7px;

      font-size: small;
      text-align: left;
      font-weight: 500;
      color: $color-grey-4;
    }
  }

  .loginError {
    color: red;
    margin-top: 0.4rem;
  }

  .buttonGroup {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    button {
      width: 40%;
      height: 30px;

      margin: 20px 0 20px;

      border-radius: 4px;
      background-color: $color-brown-1;
      color: $color-white-1;
      font-size: large;
      cursor: pointer;
      border: none;
      box-shadow: 0px 2px 4px $shadow-black-1;

      &:hover {
        background-color: $color-white-1;
        color: $color-brown-1;
        border: solid 1px $color-brown-1;
      }
    }

    a {
      width: 100%;
      text-align: center;
      text-decoration: none;
      color: $color-purple-1;
    }
  }
}

@media (max-width: 820px) {
  #formLogin {
    width: 55%;
    margin-top: 20vh;

    .loginGroup {
      font-size: large;
    }
  }
}

@media (max-width: 428px) {
  #formLogin {
    margin-top: 15vh;
    width: 80%;

    .loginGroup {
      font-size: large;

      .buttonGroup {
        button {
          width: 60%;

          font-size: medium;
          font-weight: 600;
        }
      }
    }
  }
}
