@import "../../Styles/Variables/colors";

.userNavContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $main-color-1;
  width: 100%;
  height: 8vh;
  color: $color-white-1;
}

.userNav {
  display: flex;
  width: 30%;
  justify-content: center;
  cursor: pointer;
}
