$color-purple-1: rgb(56, 59, 88);
$color-purple-2: rgb(84, 87, 118);
$color-purple-3: rgb(214, 217, 243);
$color-purple-4: rgba(56, 59, 88, 0.9);
$color-purple-5: rgba(236, 238, 250, 0.425);


$color-white-1: rgb(255, 255, 255);
$color-white-2: rgb(243, 241, 237);

$color-grey-1: grey;
$color-grey-2: rgb(166, 166, 166);
$color-grey-3: #dfe4ea;
$color-grey-4: rgb(82, 82, 82);

$color-green-1: rgb(106, 133, 124);
$color-green-2: rgb(122, 153, 143);

$color-red-1: red;

$shadow-black-1: rgba(0, 0, 0, 0.25);

$main-color-1: #729c9c;
$main-color-2: #d4e2e23b;

$color-brown-1: #99897f;
$color-brown-2: #ca9f863d;
$color-brown-3: #99897f86;


$color-mustard-1: #bb944c;